<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="InforoomOnline.InforoomOnlineService" 
					 behaviorConfiguration="InforoomOnlineServiceBehavior">
                <endpoint binding="basicHttpBinding" 
						  bindingConfiguration="" 
						  contract="InforoomOnline.IInforoomOnlineService" />
            </service>
        </services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="InforoomOnlineServiceBehavior" >
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>