<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Main" connectionString="Data Source=testsql.analit.net;Database=usersettings;User ID=system;Password=123;Connect Timeout=300;Allow Zero Datetime=True;pooling=true;" />
	</connectionStrings>
</configuration>